{% extends 'tasks/base_generic.html' %}

{% block content %}
  <h1>Task List</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
        <tr>
          <td>{{ task.title }}</td>
          <td>{{ task.description }}</td>
          <td>{{ task.status }}</td>
          <td>{{ task.created_at }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}