{% extends 'tasks/base_generic.html' %}

{% block content %}
  <h1>Delete Task</h1>
  <p>Are you sure you want to delete the task "{{ task.title }}"?</p>
  <form method="post" action="{% url 'task_delete' task.pk %}">
    {% csrf_token %}
    <button type="submit">Confirm</button>
  </form>
{% endblock %}