{% extends 'tasks/base_generic.html' %}

{% block content %}
  <h1>{% if form.instance.pk %}Edit Task{% else %}Create Task{% endif %}</h1>
  <form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>
  {% endblock %}